p {
  text-align: center;
  font-size: 70px;
  width: 360px;
}

h4 {
  text-align: center;
  margin: 0;
}

div {
  height: 100vh;
  background: #1abc9c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: baloo bhaijaan;
  color: #fff;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}
a {
  text-decoration: none !important;
  color: #fff;
}
